#inputList {
  width: 200px;
}

.btnStyle {
  padding: 0 10px;
}

// Record.jsx

.allRecords {
  display: flex;
  align-items: center;
}

.allRecords > div {
  display: inline-block;
  width: 33.333%;
  text-align: center;
}

.allRecords > :first-child {
  word-wrap: break-word;
}

.myRecords > div {
  display: inline-block;
  width: 50%;
  text-align: center;
}
