@spaceWord: 20px;

.auxiliaries {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #fff;
  margin-top: 10px;
  padding-top: @spaceWord;
}

.auxiliaries > div {
  background-color: #eeeeee;
  padding: 4px;
  margin-bottom: @spaceWord;
}
